.page-home
  padding rpx375(16px) !important

.card
  &-row
    display flex
    flex-direction row
    margin 0 rpx375(-5px)

  &-col
    width 33.33333%

  &-item
    box-shadow 0 rpx375(2px) rpx375(16px) 0 rgba(0, 0, 0, 0.1)
    border-radius rpx375(8px)
    background-color #FFFFFF
    margin 0 rpx375(5px)
    padding rpx375(12px)

  &-img-block
    height rpx375(47px)
    justify-content center

  &-icon
    width rpx375(32px)
    height rpx375(28px)

  &-label
    font-size rpx375(12px)
    color #555555
    line-height rpx375(18px)

  &-value
    font-size rpx375(28px)
    color #000000
    line-height rpx375(37px)
    font-weight 700
    margin-top rpx375(2px)

.features-panel
  margin-top rpx375(16px)
