.c-features
  flex-direction row
  flex-wrap wrap

  &-item
    width 25%
    display inline-block
    text-align center
    padding rpx375(0 0 24px 0)

    &-icon
      width rpx375(40px)
      height rpx375(40px)

    &-label
      font-size rpx375(12px)
      color #595959
      height rpx375(17px)
      line-height rpx375(17px)
      margin rpx375(4px 0 2px 0)
