// --tab-small-icon-size    小尺寸图标大小    --icon-xxs
// --tab-small-spacing    小尺寸内部间隙    --box-small-spacing
// --tab-small-font-size    小尺寸文字大小    --p-body-1-font-size
// --tab-small-padding    小尺寸内边距    --box-small-padding
// --tab-medium-icon-size    中尺寸图标大小    --icon-xs
// --tab-medium-spacing    中尺寸内部间隙    --box-medium-spacing
// --tab-medium-font-size    中尺寸文字大小    --p-body-2-font-size
// --tab-medium-padding    中尺寸内边距    --box-medium-padding
// --tab-large-icon-size    大尺寸图标大小    --icon-s
// --tab-large-spacing    大尺寸内部间隙    --box-large-spacing
// --tab-large-font-size    大尺寸文字大小    --p-subhead-font-size
// --tab-large-padding    大尺寸内边距    --box-large-padding
// --tab-bg-color    背景色    --color-white
// --tab-divider-color    分割线颜色    --box-normal-outline-border-color
// --tab-divider-height    分割线高度    --line-1
// --tab-active-line-height    激活线高度    2rpx
// --tab-normal-color    普通文本颜色    --box-normal-outline-font-color
// --tab-active-color    选中文本颜色    --box-primary-text-font-color
.c-tab
  --tab-normal-color rgba(23, 26, 29, 0.6)
  --tab-active-color #171A1D
  --tab-medium-font-size rpx375(14px)
  --tab-divider-height 0
  --tab-medium-padding rpx375(15px 16px)
  background-color $white-color

  .mt-tab-item-active-line
    border-radius rpx375(1.5px)
    background-color $primary-color
    height rpx375(3px)
    width rpx375(20px)
    left 50%
    bottom rpx375(4px)
    margin-left -10px
