// --search-small-height    small 尺寸搜索宽度    --s-7
// --search-medium-height    medium 尺寸搜索高度    --s-9
// --search-large-height    large 尺寸搜索高度    --s-11
// --search-border-width    边框大小    --box-normal-solid-border-width
// --search-corner    边框圆角    --s-1
// --search-border-color    边框颜色    --box-normal-solid-border-color
// --search-bg-color    背景色    --color-fill1-1
// --search-font-color    字体颜色    --box-normal-solid-text-color
// --search-icon-color    icon 颜色    --box-normal-solid-icon-color
// --input-medium-font-size    字体大小
.c-search
  background-color $white-color
  padding rpx375(8px 16px)
