page
  box-shadow 0 rpx375(1px) rpx375(14px) 0 rgba(0, 0, 0, 0.17)
  background-color #F7F7F7
  height 100%

  &, & *
    box-sizing border-box

  --button-primary-solid-background-color $primary-color
  --button-primary-solid-border-color var(--button-primary-solid-background-color)
  --button-normal-solid-border-color rgba(126, 134, 142, 0.24)
  --button-normal-solid-font-color #171A1D
